@import "../../styles/style_utils";

.menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: $white;
  z-index: 1;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 48px;
    padding-left: 20px;
    margin-bottom: 32px;
    border-bottom: 1px solid $elements;
  }

  &-enter {
    transform: translateX(-1000%);
  }

  &-enter-active {
    transform: translateX(0);
    transition: transform 300ms;
  }

  &-exit {
    transform: translateX(0);
  }

  &-exit-active {
    transform: translateX(-100%);
    transition: transform 300ms;
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 0;
    list-style: none;
  }

  &__item {
    text-align: center;
  }

  &__link {
    @extend %uppercase;
    color: $primary;
    padding-bottom: 5px;
    border-bottom: 2px solid transparent;
    line-height: 150%;

    @include hover(border-bottom-color, $primary);
  }

  &__btn--cross {
    @include square(16px);
    @include scale;
  }
}
