@import "../../styles/style_utils";

.logo {
  @include scale;
  justify-self: start;
  flex-shrink: 0;
  display: block;
  height: 24px;
  padding-inline: 20px 10px;
  transform: scale(1);

  @include onTablet {
    padding-inline: 20px;
  }
}
